<h2>Documenten</h2>
<hr/>
<p>Hier vind je een reeks handige documenten die je zullen helpen om te werken met GIT</p>
<div class="list">
    <ul>
        <li><a href="https://drive.google.com/file/d/18M3btuiPOz-CmjO4T5GCq8o7B3iej2z8/view?usp=drive_link" target="_blank">GIT Commands</a></li>
        <li><a href="https://drive.google.com/file/d/11ySmrAxHPA-b5APiXbFwdO7sOnzzyFsE/view?usp=drive_link" target="_blank">GIT Cheat Sheet</a></li>
        <li><a href="https://drive.google.com/file/d/1xQwZFw-hACzPGLIRfXw-_6we-UZ2mGiG/view?usp=drive_link" target="_blank">GIT Flow afspraken</a></li>
        <li><a href="https://drive.google.com/file/d/1X43wSnrGyLoIYGmv3OWhglYMhBRLTPB7/view?usp=drive_link" target="_blank">PHP PF Hoofdstuk GIT</a></li>
    </ul>
</div>
