<h2>Aan de slag met GIT</h2><hr/>
<p>
    Voor je aan de slag kan gaan met GIT moet je uiteraard eerst GIT installeren.
    Ga naar <a href="https://git-scm.com/install/" target="_blank">https://git-scm.com/install/</a> en installeer GIT.
</p>
<p>
    Handige tip: tijdens het installeren van GIT zal je de keuze krijgen om de GIT-bash terminal mee te installeren.
    Indien je op een windows toestel werkt kan deze terminal handig zijn omdat deze iets duidelijker is dan de
    windows command terminal, hoewel je deze ook kan gebruiken om met GIT te werken.
    Linux en mac toestellen hebben deze terminal standaard.
</p>
<p>
    Verder heb je voor deze workshop niets nodig van software. Voor de oefeningen werken we met .txt bestanden. Hiervoor
    heb je geen editor nodig. Indien je toch wenst te werken met een editor, dan is VSCode een handige tool. Deze is
    gratis, en je kan in VSCode ook extensies installeren om met GIT te werken. VSCode downloaden kan je via deze
    <a href="https://code.visualstudio.com/download?_exp_download=fb315fc982" target="_blank">link</a>.
</p>